.Chat-button {
  position: fixed;
  bottom: 20px;
  right: 90px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 53%;
  height: 50px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: black !important;
    color: white !important;
    transform: scale(1.1);
  }
}

.collaborative-chat-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

/* Main container */
.modal-container-chat {
  /* margin-top: 2rem; */
}
.chat-container {
  display: flex;
  height: 90vh;
  width: 100%;
  /* background-color: #f4f3f8; */
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  overflow: hidden;
}

/* Left chat section (contacts) */
.left-chat-section {
  width: 30%;
  /* background-color: #2e3b4e; */
  color: black;
  padding: 10px 0px 20px 0px; /** osama */
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 20px;
  /* padding-left: 20px; */
  padding-top: 40px;
  margin-bottom: 30px;
}

/* .left-chat-section h2 {
  margin: 0;
  font-size: 1.5rem;
  padding-bottom: 10px;
} */

.contact-name-and-last-msg {
  display: flex;
  /* flex-direction: column; */
}

.contact-last-msg {
  padding-left: 10px;
  font-size: small;
  color: gray;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  scrollbar-width: thin;
  padding-left: 20px; /** osama */
  padding-right: 20px; /** osama */
}

.contact-details-div {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.contact-details-div:hover,
.contact-details-div:focus,
.contact-details-div.active {
  background-color: lightgray;
  color: black;
}

.contact-Name-for-OpenChat {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 20px !important;
  padding-top: 10px;
  margin-left: 10px;
  text-transform: capitalize;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contact-Name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  text-transform: capitalize;
}
.contact-image {
  width: 50px; /* Adjust size as needed */
  height: 50px;
  background-color: #f0f0f0; /* Background color */
  color: #333; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Makes it circular */
  font-size: 24px; /* Font size for the initial */
  font-weight: bold;
}

.contact:hover {
  background-color: lightgray;
}

/* Right chat section */
.message-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.message-name {
  font-size: 0.85rem;
  font-weight: bold;
  color: #888;
  padding-left: 8px;
}
.right-chat-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 15px; */
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  /* background-color: #f4f3f8; */
  border: 1px solid lightgray;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.groupName-and-member-div{
  display: flex;
  flex-direction: column;
}

.member-div{
  margin-left: 10px;
  color: #667781;
}

.members-div{
  display: flex;
  text-transform: capitalize;
}

/* .right-chat-section h2 {
  margin: 0;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-left: 10px;
} */

/* Chat messages */
.chat-messages {
  flex-grow: 1;
  padding: 20px 10px;
  overflow-y: auto;
  display: flex;
  /* background-color: #f0f2f5;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
  flex-direction: column;
  gap: 10px;
  scrollbar-width: hidden;
}

.chat-messages::-webkit-scrollbar {
  width: 6px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.message {
  position: relative;
  padding: 20px 15px 10px 15px;
  max-width: 70%;
  border-radius: 15px;
  font-size: 1rem;
}

.message.received {
  align-self: flex-start;
  background-color: #e0e0e0;
  color: #333;
}

.message.sent {
  align-self: flex-end;
  background-color: #4e97f5;
  color: white;
}

/* Chat input section */
.chat-input {
  display: flex;
  align-items: center;
  /* border-top: 1px solid #2e3b4e; */
  padding-top: 15px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.chat-input input {
  flex-grow: 1;
  padding: 10px 40px 10px 15px;
  border-radius: 10px;
  /* border: 1px solid #2e3b4e; */
  border: none;
  height: 40px;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.send-button {
  position: absolute;
  right: 25px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.search-button {
  position: absolute;
  right: 7px;
  top: 9px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.chats_list {
  height: 75vh;
  overflow: scroll;
  overflow-x: hidden;
}
.chat_sender {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.chat_sender p {
  padding: 10px 20px 10px 20px;
  background-color: #2e3b4e;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  max-width: 80%;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: normal;
}

.chat_receiver {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chat_receiver p {
  padding: 10px 5px 10px 5px;
  background-color: #e9ecef !important;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  /* max-width: 80%; */
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: normal;
}

.chat-header {
  display: flex;
  border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 950px) {
  .chat-container {
    /* flex-direction: column; */
    height: 90vh;
    /* max-height: 600px; */
    position: relative;
  }
  .notification-bar {
    height: auto !important;
  }
  .left-chat-section {
    width: 100%;
    height: 100%;
    /* display: none; */
  }
  .right-chat-section {
    width: 95%;
    height: 89%;
    margin-left: 0px;
    overflow-y: hidden;
    flex-grow: 1;
    /* margin-left: 20px !important; */
  }
  .chat-messages {
    height: calc(100vh - 200px);
    /* max-height: 50vh; */
    overflow-y: auto;
  }
  .chat-input {
    position: fixed;
    bottom: 1px;
    width: calc(100%);
    left: 0;
    padding: 10px 10px 10px 0px;
    background: #f4f3f8;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 41px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .chat-input input {
    width: calc(100% - 50px);
  }
  .invite-friends-text {
    display: none;
  }
  .contact-Name-for-OpenChat {
    font-size: 14px;
    max-width: 120px !important;
  }
  .audio-message{
    width: 200px !important;
  }
}

@media screen and (max-width: 768px) {
  .audio-message {
    width: 170px !important;
  }
  .recordingtext-class{
    font-size: 14px;
  }
}

.recordingtext-class{
  font-size: 18px;
}

.audio-message{
  width: 250px;
  height: 35px;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .left-chat-section {
    width: 35%;
  }
  .right-chat-section {
    width: 70%;
  }
}

.details-chat-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* padding: 15px; */
  padding-bottom: 15px;
  padding-left: 0px;
  padding-right: 0px;
  /* background-color: #f4f3f8; */
  border: 1px solid lightgray;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.details-header{
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-height: 62px;
}

.details-image-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 10px;
}

.details-image{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

/** seach input */
.search-input {
  display: flex;
  align-items: center;
  position: relative;
}

.search-input-add{
  display: flex;
  flex-direction: column;
}

.search-input-group{
  width: 100%;

}

.group-name-input{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #d9d9d9;
}

.searchfriendinGroupCreate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.searchfriendinGroup{
  width: fit-content;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #d9d9d9;
}

.chat-moreoptions-icon {
  display: flex;
  justify-content: space-between;
  padding-left: 20px; /** osama */
  padding-right: 20px; /** osama */
}

.search-contacts{  /** osama */
  padding-left: 20px;
  padding-right: 20px;
}

.search-friends{  /** osama */
  /* padding-left: 20px;
  padding-right: 20px; */
}

.Create-Button{
  /* text-transform: capitalize !important;
  letter-spacing: normal !important; */
}

.Newchat-moreoptions-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.moreoptions-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-textarea {
  border-color: gray;
  transition: border-color 0.3s;
  text-transform: capitalize;
}

.custom-textarea:hover {
  border-color: gray; /* Border color on hover */
}

.custom-textarea:focus,
.custom-textarea-focused {
  border-color: gray !important; /* Border color on focus */
}

.search-input input {
  flex-grow: 1;
  /* background-color: #e6e5ea; */
  border: 3px solid lightgray;
  height: 45px;
  padding: 10px 00px 10px 15px;
  border-radius: 10px;
  font-size: 1rem;
  width: webkit-fill-available !important;
  width: fill;
  margin-bottom: 10px;
  /* height: 30px; */
}

.notification-bar {
  background-color: black;
  width: 100px;
  height: 100%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.custom-modal-for-collaborative-chat .ant-modal-content {
  padding: 0px;
  /* border-radius: 40px; */
}

.custom-modal-for-collaborative-chat .ant-modal-close {
  display: none;
}

.Chat-Icon-and-Name-div {
  display: flex;
  width: 100%;
  /* border-bottom: 1px solid #505e70; */
  padding: 15px;
  justify-content: space-between;
}
.Chat-Icon-and-Name {
  display: flex;
}

.Invite-Friends {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-top: 10px;
  cursor: pointer;
  gap: 10px;
}

.notification-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.notification-bar-elements {
  display: flex;
  flex-direction: column;
}

.chat-message {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  margin: 2px 0; /* Space between messages */
}

.receiver-message {
  display: flex;
  max-width: 80%;
}


.user-image,
.receiver-image {
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  border-radius: 50%; /* Make images circular */
  margin-right: 10px; /* Space between image and text */
}

@media screen and (max-width: 950px) {
  .user-image,
  .receiver-image {
    width: 30px; /* Adjust size for smaller screens */
    height: 30px; /* Adjust size for smaller screens */
  }

  .chat_sender p,
  .chat_receiver p {
    max-width: 80%; 
    font-size: 15px; /* Adjust font size for smaller screens */
  }
  .receiver-message {
   max-width: 95% !important;
  }
}

@media screen and (max-width: 600px) {
  .sender-name {
    max-width: 13ch;
    text-transform: capitalize;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
  }
}

.new-converation-button {
  width: 100%;
  height: 50px;
  background-color: white !important;
  border: 1px solid lightgray !important;
  text-transform: capitalize !important;
}

.hide-left {
  display: none;
}
.hide-right {
  display: inherit;
}
.show-left {
  display: inherit;
}
.show-right {
  display: inherit;
}

.back-icon {
  display: none;
}

@media (max-width: 768px) {
  .hide-right {
    display: none;
  }
  .back-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 20px; */
    cursor: pointer;
  }
  /* .details-chat-section {
    width: 100%;
  } */
   .details-chat-section{
    width: 100%;
    margin-left: 30px;
   }
   .Chat-Icon-and-Name-div {
    padding: 15px 0px 15px 0px !important;
  }
  .Chat-Icon-and-Name{
    align-items: center !important;
  }
  .show-deatils-only{
    display: none;
  }
  .right-chat-section {
    margin-left: 20px !important;
  }
}

.unread-badge{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: 10px;
}

.unread-msg-count{
  background-color: gray;
  padding: 5px;
  color: white;
  border-radius: 50%;
}

.custom-modal-new-chat .ant-modal-content {
  background-color: white !important;
  max-height: 500px;
}

.div-for-scroll{
  overflow: auto !important;
  scrollbar-width: thin !important;
  min-height: 210px;
  max-height: 210px;
}

.newGroup-main-div {
  margin-top: 30px;
  /* overflow: auto; */
  scrollbar-width: thin;
  max-height: 365px;
}

.newGroup-main-div-create-group {
  margin-top: 10px;
  overflow: auto;
  scrollbar-width: thin;
  max-height: 255px;
  min-height: 255px;
}

.newfriendReq-main-div {
  overflow: auto;
  scrollbar-width: thin;
  max-height: 365px;
  border-bottom: 1px solid lightgray;
}

.newGroup-list {
  /* border-bottom: 1px solid lightgray; */
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  margin-bottom: 10px;
}

.newGroup-list-item-image-img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
}

.newGroup-list-item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-left: 12px;
  width: 100%;
}

.newGroup-list-item-name-text {
  font-size: 18px;
}

.newGroup-list-item {
  display: flex;
}

.create-button-div {
  /* width: 100%; */
  display: flex;
  justify-content: end;
}

.Create-Button {
  height: 37px;
  border-radius: 5px;
  margin-top: 10px !important;
  border: none !important;
  outline: 0 !important;
  padding: 10px 8px !important;
  color: white !important;
  background-color: black !important;
  text-align: center !important;
  cursor: pointer !important;
  width: fit-content !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  letter-spacing: normal !important;
}

.copylink-Button {
  height: 37px;
  border-radius: 5px;
  margin-top: 10px !important;
  border: none !important;
  outline: 0 !important;
  padding: 10px 8px !important;
  color: black !important;
  margin-right: 10px !important;
  border: 1px solid black !important;
  background-color: white !important;
  text-align: center !important;
  cursor: pointer !important;
  width: fit-content !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  letter-spacing: normal !important;
}

.copiedlink-Button {
  min-width: 160px !important;
  height: 37px;
  border-radius: 5px;
  margin-top: 10px !important;
  border: none !important;
  outline: 0 !important;
  padding: 10px 8px !important;
  color: white !important;
  margin-right: 10px !important;
  background-color: black !important;
  text-align: center !important;
  cursor: pointer !important;
  width: fit-content !important;
  font-size: 18px !important;
  text-transform: capitalize !important;
  letter-spacing: normal !important;
}

.Accept-Button {
  height: 37px;
  border-radius: 5px;
  margin-top: 10px !important;
  border: none !important;
  outline: 0 !important;
  padding: 10px 8px !important;
  color: white !important;
  background-color: #007bff !important;
  text-align: center !important;
  cursor: pointer !important;
  width: fit-content !important;
  /* font-size: 18px !important; */
}

.Reject-Button {
  height: 37px;
  border-radius: 5px;
  margin-top: 10px !important;
  border: none !important;
  outline: 0 !important;
  padding: 10px 8px !important;
  color: white !important;
  background-color: #6c757d !important;
  text-align: center !important;
  cursor: pointer !important;
  width: fit-content !important;
  margin-left: 8px !important;
}


.link-preview {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.link-preview img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 10px;
}

.link-preview-text {
  flex: 1;
}

.link-preview-text h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.link-preview-text p {
  font-size: 12px;
  margin-top: 5px;
  color: #555;
}

.groupName-Image-div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.groupname-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* .hover-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.profile-label:hover .hover-overlay {
  opacity: 1;
} */

.groupname-main-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.group-image-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-label {
  display: block;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



/** Link preview */

/* Container styling */
.preview-container {
  background-color: #ffffff; /* bg-white */
  border-radius: 1rem; /* rounded-xl */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* shadow-sm */
  overflow: hidden;
  transition: box-shadow 0.2s; /* hover:shadow-md */
}

.preview-container:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); /* hover:shadow-md */
}

/* Image styling */
.preview-image {
  width: 100%;
  height: 12rem; /* h-48 */
  object-fit: contain; /* object-cover */
  background-color: #f3f4f6; /* bg-gray-100 */
}

/* Loading skeleton */
.skeleton {
  background-color: #e5e7eb; /* bg-gray-200 */
  animation: pulse 1.5s infinite; /* animate-pulse */
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Padding for text */
/* Container styling */
.preview-container {
  background-color: #ffffff; /* bg-white */
  border-radius: 1rem; /* rounded-xl */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* shadow-sm */
  overflow: hidden;
  transition: box-shadow 0.2s; /* hover:shadow-md */
  width: 50%;
}

.preview-container:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); /* hover:shadow-md */
}

.preview-image-class{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preview-model-image{
  /* width: 250px; */
  /* width: -webkit-fill-available !important; */
  height: 250px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .preview-model-image{
    max-width: 150px !important;
  }
  .recording-icon{
    display: none;
  }
}

/* Padding for text */
.preview-content {
  padding: 1rem; /* p-4 */
}

.preview-title {
  font-weight: 600; /* font-semibold */
  color: #1f2937; /* text-gray-900 */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* line-clamp-2 */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.preview-description {
  font-size: 0.875rem;
  color: #4b5563;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.preview-site-name {
  font-size: 0.875rem; /* text-sm */
  color: black !important;
  background-color: white !important; /* text-gray-500 */
  text-transform: uppercase; /* uppercase */
  letter-spacing: 0.05em; /* tracking-wide */
}


/** tab work */

.tab-main-div{
  width: 100%;
  display: flex;
  background-color: #e6e5ea;
  height: 50px;
  justify-content: center;
  /* margin-top: 10px; */
}

.friends-tab-div{
  width: 50%;
  margin: 7px 0px 7px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}
.groups-tab-div{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  margin: 7px 7px 7px 0px;
  border-radius: 5px;
}

.activeTab{
  background-color: white;
  color: black;
}

.add-friends-groups-button{
  width: 100%;
  background-color: black !important;
  color: white !important;
  margin-bottom: 10px !important;
}

.frined-request-button{
  gap: 3px;
  border: 1px solid lightgray !important;
  letter-spacing: normal !important;
  text-transform: capitalize !important;
  &:hover{
    background-color: #e6e5ea !important;
  }
}

.frined-request-button-specificscreensize{
  display: none !important;
  
}

@media (min-width: 769px) and (max-width: 999px) {
  .frined-request-button-specificscreensize{
    display: block !important;
    width: 100%;
    gap: 3px;
    margin-bottom: 10px !important;
    border: 1px solid lightgray !important;
    letter-spacing: normal !important;
    text-transform: capitalize !important;
    &:hover{
      background-color: #e6e5ea !important;
    }
  }
  .frined-request-button{
    display: none !important;
  }
}

.add-friends-groups-div{
  display: flex;
  /* justify-content: end; */
  gap: 5px;
  /* margin-bottom: 10px; */
}

.Share-screen-add-friend-group-buttons{
  width: 100%;
  background-color: black !important;
  color: white !important;
  margin-bottom: 10px !important;
}

/** tab work */