.SearchedContent-div {
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 20px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.searched-result-bar-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.products {
  flex: 3.2;
  padding-left: 5rem;
  padding-right: 5rem;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  /* scrollbar-width: thin; */
}

.chat {
  flex: 0.8;
  /* padding: 20px; */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 20px;
  background-color: #ffffff;
  border-left: 2px solid #e9ecef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.chat-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 20px;
  scrollbar-width: none;
}

.productsearch-input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.filters-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: auto;
  margin: 0 -8px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 800px;
}

.filters-section > div {
  flex: 1 1 auto;
  min-width: 150px;
  padding: 8px;
}

@media (max-width: 576px) {
  .filters-section > div {
    flex: 1 1 25%;
  }
}

@media (min-width: 576px) {
  .filters-section > div {
    flex: 1 1 23%;
  }
}

@media (min-width: 768px) {
  .filters-section > div {
    flex: 1 1 20%;
  }
}

.filterdropdowns .ant-select-selector {
  background-color: #e9ecef !important;
}

.filterdropdowns .ant-select-selection-placeholder {
  color: black;
}

.products-cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.productpagecards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (min-width: 1025px) {
  .productsearch-input {
    width: 800px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .productpagecards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024px) {
  .productpagecards {
    grid-template-columns: repeat(2, 1fr);
  }
  .productsearch-input {
    width: 100%;
  }
  .products {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .productpagecards {
    grid-template-columns: 1fr;
  }
  .productsearch-input {
    width: 100%;
  }
}

/* Make the search input sticky at the bottom of the chat section */
.chat .search-input-container {
  width: 100%;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  bottom: 0;
}

.card {
  max-width: 354px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  &:hover{
    transform: scale(1.02);
  }
}

.product--image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  /* transition: transform 0.3s ease; */
}

.product--image:hover {
  /* transform: scale(1.05); */
  cursor: pointer;
}

.description {
  color: grey;
  font-size: 18px;
  padding-bottom: 10px;
}

.price {
  color: grey;
  letter-spacing: 0.1rem;
}

.TryOn-Button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: 1px solid #cbcbcb;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.3s ease;
}

.TryOn-Button:hover {
  background-color: black;
  color: black !important;
  transform: scale(1.05);
  border: 1px solid #cbcbcb !important;
}
