.menu{
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    height: 94vh;
    width: 24vh;
}

.logodesign{
    text-align: center;
    padding: 20px;
    color: #27374d;
    align-items: center;
    display: flex;
    text-decoration: none !important;
}

.icons{
    width: 20px;
    height: 20px;
    color: #5E5546;
}

.menu-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.menu-item .item{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3 ease-in-out;
    color: #5E5546;
    &:hover{
        background-color: white;
        
    }
}

.search-history{
    padding-bottom: 10px;
    overflow-x: auto;
    scrollbar-width: thin;
    margin-bottom: 15px;
    /* line-height: 1.5; */
}

.history-heading{
    color: #6B7280;
    font-size: 12px;
}
.history-time{
    line-height: 1.8;
    color: #6B7280;
    font-size: 13px;
    float: inline-end;
}

.history-text {
    line-height: 1.8;
    color: #2D261A;
    font-size: 14px;
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden;    /* Hides overflowed text */
    text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
    max-width: 70%; /* You can adjust the max-width as needed */
    display: inline-block; /* Ensures text truncation works */
}


.Login-Signup-Btns{
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.signup-buttons{
    font-weight: bold;
}

.history-list{
    list-style: none;
}

.profile-dropdown{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}

.menu-button {
    display: none; /* Hide menu button by default */
  }
  
  /* Hide sidebar on small screens */
  @media screen and (max-width: 768px) {
    .menu {
      display: none; /* Hide sidebar */
    }
  
    .menu-button {
      display: block; /* Show menu button */
      margin: 10px;
    }
    
  }