.modal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background-color: #dceef2; */
}

.Signup-form-section{
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
}

.google-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.Signup-form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    background-color: #014d4e;
    color: white;
    border-radius: 0.5rem;
    border: 1px solid #E0E1E3;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    &:hover{
        background-color: #014d4e;
        color: white;
    }
}

.inputfields-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.Signup-Inputs{
    gap: 2rem;
}

.Signup-Inputs .Signup-Inputfield {
    margin-bottom: 1rem;
  }
.Signup-Inputfield{
    height: 42px;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid #E0E1E3;
    font-weight: 500;
    gap: 2rem;
    &:hover{
        cursor: text !important;
        border: 2px solid #014d4e;
    }
    &:focus{
        
        border: 2px solid #BDD7DE; 
        box-shadow: 0px 0px 5px 0px rgba(243, 212, 195, 0.50); 
        transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    }
}

.ant-modal-content{
    /* background-color: #dceef2 !important; */
}

.Signup-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    color: white;
    background-color: #014d4e;
    border-radius: 0.5rem;
    border: 1px solid #8AA3A8;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.already-account-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.signup-text{
    font-weight: bold;
}

.LoginLink-text{
    font-weight: bold;
    color: #014d4e;
    margin-left: 10px;
    cursor: pointer;
}
