.modal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0 !important;
}

.Models-separation-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

.vto-heading {
  font-size: 30px;
  text-align: center;
}

.model-result {
  /* flex: 0 0 40%; */ /** result iamge osama */
  position: relative;
}

.Mobile-models-div {
  display: none;
}

.predefined-models {
  /* background-color: red; */
  flex: 1;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
  max-height: calc(100vh - 190px);
  overflow-y: auto;
  scrollbar-width: none;
  background-color: white;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.Result-Image {
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 200px);
  /* height: 500px; */
  object-fit: contain;
  border-radius: 20px;
  border: 5px solid lightgray;
  position: relative;
}

.result-iamge-product{
  position: absolute;
  top: 10;
  left: 0;
  /* left: 10px; */
  /* top: 10px; */
  width: 140px;
  height: 140px;
  border-radius: 20px;
  border: 5px solid lightgray;
}

@media screen and (max-width: 768px) {
  .result-iamge-product{
    width: 90px !important;
    height: 90px !important;
  }
}

.Right-Div-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Model-Images-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  gap: 30px;
  /* justify-content: center; */
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: calc(100% - 50px); /** osama */
  
}

.predefined-Model-Image {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  /* border-radius: 50px; */
}

.VTO-card {
  max-width: 354px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */ /* osama */
}

@media (min-width: 1200px) {
  .VTO-card {
    flex: 0 0 calc(33.33% - 25px); /* 3 cards in a row minus gap */
    max-width: calc(33.33% - 25px); /* Prevent stretching */
  }
}
@media (min-width: 1000px) and (max-width: 1199px) {
  .VTO-card {
    flex: 0 0 calc(50% - 25px); /* 3 cards in a row minus gap */
    max-width: calc(50% - 25px); /* Prevent stretching */
  }
}

@media (max-width: 1200px) {
  .vto-heading {
    font-size: 24px !important;
  }
}
@media (max-width: 768px) {
  .vto-heading {
    font-size: 20px !important;
  }
  .Similar-Products-div .product--image{
    height: auto;
    object-fit: contain !important;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .model-result {
    flex: 0 0 60% !important;
  }
}

@media (max-width: 768px) {
  .Models-separation-div {
    flex-direction: column !important;
  }
  .Model-Images-div {
    display: none !important;
  }
  .MobileScreen-Model-Images-div {
    display: block !important;
  }
  .mobile-model-images {
    width: 200px;
    display: block;
    /* min-height: 250px; */
    max-height: 300px;
    /* padding-bottom: 10px; */
    margin-top: 10px;
    object-fit: fill;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
    border: 1px solid lightgray;
  }
  .Mobile-models-div {
    display: block !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  }
  .mobile-model-image-div {
    display: flex;
    flex-direction: row;
    overflow: auto;
    /* max-height: 200px; */
    max-width: 100%;
    /* margin-left: 10px; */
    scrollbar-width: none;
    padding: 10px;
  }
  .Select-Custom-Model-button{
    font-size: 10px !important;
  }
  .Similar-Products-Images{
    padding: 0px !important;
  }
  .similar-products-heading{
    font-size: 24px !important;
    padding-left: 15px !important;
    padding-bottom: 10px !important;
  }
}

.VTO-image-container {
  position: relative;
  display: inline-block;
  height: 100%;
  /* background-color: #F6F6F6; */
}

.VTO-model--image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid lightgray;
  &:hover {
    cursor: pointer;
  }
}

.add-icon-div{
  position: absolute;
  top: 43%;
  left: 28%;
  cursor: pointer;
}

.custom-modal .ant-modal {
  height: 100vh !important; /* Full screen height */
  top: 0 !important; /* Start at the top */
  padding-bottom: 0; /* Remove any bottom padding */
}

.custom-modal .ant-modal-content {
  height: 100%; /* Ensure the modal content fills the height */
  background-color: #f8f8f8;
}

.Similar-Products-div {
  justify-content: flex-start !important;
  align-items: flex-start !important;
  text-align: start !important;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s, box-shadow 0.3s;
}

.similar-products-heading {
  padding-left: 35px;
  margin-top: 15px;
}

.similar-products-heading-deatils{
  margin-top: 25px;
  padding-left: 35px;
}

.Similar-Products-Images {
  /* margin-top: 20px; */
  padding: 25px;
}

.Similar-Products-div {
  background-color: white;
  border-radius: 20px;
}

.Similar-Products-div .react-multi-carousel-item {
  max-width: 360px !important;
  /* margin-right: 10px; */
}

/* .description {
  color: grey;
  font-size: 18px;
  padding-bottom: 0px;
} */

.Similar-Products-div .product--image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

/* .Similar-Products-div .card h4 {
  padding-top: 10px;
  padding-bottom: 0px;
} */

.Select-Custom-Model-button {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 9px;
  border-radius: 50% !important;
  background-color: black;
  color: white;
  cursor: pointer;
  z-index: 2;
}
.asd {
  position: fixed;
  bottom: 7%;
  left: 65%;
  height: 40px;
  padding: 8px 12px;
  /* background: linear-gradient(to right, #f9ce42, #d49a28); */
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  max-height: 40px;
  z-index: 999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
 min-width: 150px;
 letter-spacing: 0.2rem;
  &:hover {
    transform: scale(1.05);
    /* border: 1px solid #cbcbcb !important; */
  }
}

.Delete-Custom-Model-button {
  position: absolute;
  bottom: 25px;
  right: 10px;
  padding: 8px 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  &:hover{
    background-color: black;
    color: white !important;
    transform: scale(1.05);
    border: 1px solid #cbcbcb !important;
  }
}

.custom-model-checkbox {
  position: absolute;
  top: 10px; /* Adjust the spacing from the top */
  right: 15px; /* Adjust the spacing from the right */
  z-index: 1; /* Ensure it appears above the image */
}

.mobile-custom-models-container{
  position: relative;
}

.custom-model-checkbox-mobile {
  position: absolute;
  top: 20px; /* Adjust the spacing from the top */
  right: 35px; /* Adjust the spacing from the right */
  z-index: 1; /* Ensure it appears above the image */
}
